<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <title>メモ作成</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/userMemo">メモ管理</a>
      </div>
    </div>
    </nav>
  <div class="container">
    <div class="card card-primary mb-3">
          <div class="card-header">
            <h5 class="card-title">メモ新規</h5>
          </div>
        <div class="card-body">
              <form th:method="post" th:action="@{/userMemo}" th:object="${userMemo}">
                <div class="form-group row">
                    <label class="col-md-2 control-label">ユーザー名</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" name="userName" th:value="*{userName}" />
                      <div class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">メモ</label>
                    <div class="col-md-10">
                      <textarea class="form-control" type="text" name="memo" th:value="*{memo}" cols="30" rows="10"></textarea>
                      <div class="text-danger" th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                      <button class="btn btn-primary">新規</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.4.1.min"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>